body {

  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-height: 100vh;
  background-color: #000000e1;
}

.container {
  text-align: center;
  padding: 20px;
  margin-top: 10%;
}

.page-title {
  color: #940f82;
  margin: 0 0 5px;
  padding-bottom: 20px ;
  font-size: 3rem;
}

.page-subtitle {
  color: #940f82ce;
  font-size: 1.5rem;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: #da28c2dc;
}

button {
  margin-top: 12px;
  padding: 8px 12px;
  border-radius: 10px;
  background: #db449c;
  border: none;
}

h2 {
  color: #ffffff;
  font-size: 30px;
}
